.App {
  text-align: center;
}


.App-header {
  background-color: #101311;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.input{
  height: 30px;
  background-color: black;
  color: whitesmoke;
  border: 1px solid gray;
}
.litera {
  border: 2px solid white;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  font-size: 20px;
  background-color: darkslategray;
  color: whitesmoke;
  cursor: pointer;
  box-shadow: 5px 5px 5px darkgreen;

}
.zatwPass{
  background-color: black;
  color: whitesmoke;
  padding: 12px 12px;
  border: 2px solid whitesmoke;
  border-radius: 25%;
}
.displayform{
  display: none;
}
